{% extends 'base/base.html' %}
{% block navbar%}
{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/css/style_forms.css">

<div class="section">
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible">
    <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
    {{form.errors}}
    </div>
    {% endif %}

<div class="row full-height justify-content-center">
    <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                    <div class="card-front">
                        <div class="center-wrap">
                            <div class="section text-center">
                                <h4 class="mb-4 pb-3">Especifique correo</h4>

                            <form method="post">
                                {% csrf_token %}  
                                <div class="form-group">
                                    <input type="email" name="email" class="form-style form-control" placeholder="tucorreo@email.com" id="id_eamil" autocomplete="off" for="id_email">
                                    <i class="input-icon uil uil-at"></i>
                                </div>              
                                          
                                <button class="btn mt-4" type="submit">Enviar</button>
                            		</form>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
