{% extends 'base/base.html' %}

{% block title%}
Eliminar
{% endblock%}

{% block content %}
<div class="container">
	<div class="col">
		<form method="post">
	{% csrf_token %}
	<h3>¿Esta de acuerdo en eliminar este Producto concerniente a los siguientes datos?</h3>	
	<table class="table table-bordered">
	<thead>

		<tr>
			<td>Id del producto</td>
			<td>Titulo</td>
			<td>Descripción</td>
			<td>Precio</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object %}
			<td>{{ object.id }}</td>
			<td>{{ object.title }}</td>
			<td>{{ object.description }}</td>
			<td>{{ object.price }}</td>
		{% else %}
		<h1>No hay registros de Productos</h1>
		{% endif %}
	</tbody>
</table>
	<button class="btn btn-danger" type="submit">Sí, eliminar</button>
	<a class= "btn btn-default" href="{% url 'admin_view' %}">Cancelar</a>
</form>
	</div>
</div>

{% endblock %}