{% extends 'base/base.html' %}

{% block title%}
{{ title }}
{% endblock%}

{% block content %}

<link rel="stylesheet" href="/static/css/style3.css">
	<div class="container">
	<div class="col">
		<h1> {{ message }} </h1>
{% if current_user.is_authenticated %}

<div class="container">
	{% if current_user.is_superuser == True %}
	<h1>
	<span class="blue">&lt;</span> Productos
	<span class="blue">&gt;</span>
	<span class="black">Registrados</span>
</h1>
	{% for product in productd %}
	&nbsp;
	<table class="container2 table table-bordered">
			<thead>
		<tr>
			<td>Id del producto</td>
			<td>Imagen</td>
			<td>Titulo</td>
			<td>Descripción</td>
			<td>Precio</td>
			<td>Disponibilidad</td>
			<td>Stocks</td>
			<td>Opciones</td>
		</tr>

			</thead>
			<tbody>

		<tr>
			{% if product %}
			<td>{{ product.id }}</td>
			<td>
			{% if product.image%}
			<a href="{{ product.image.url }}">
			<img src="{{ product.image.url }}" alt="imagen de {{product.title}}" width="100" height="100">
			</a>
			{% endif%}
			</td>
			<td>{{ product.title }}</td>
			<td>{{ product.description }}</td>
			<td>{{ product.price }}</td>
			<td>
				{% if product.available == True %}
				<span class="text-success">Disponible</span>
				{% else %}
				<span class="text-danger">No Disponible</span>
				{% endif %}
			</td>
			<td>
				{% if product.stock %}
				<span class="text-success">{{ product.stock }}</span>
				{% else %}
				<span class="text-danger">Sin stocks aun</span>
				{% endif %}
			</td>
			<td>
				<a href="{% url 'admin_edit' product.slug %}" >Editar</a> |
				<a href="{% url 'admin_delete' product.slug %}" >Eliminar</a>  
			</td>
		</tr>
		{% endif %}
		</tbody>
</table>

	{% endfor %}
	{% else %} <h4 class="black"> Lo sentimos, Error 404; Not Found. No se han encontrado registros </h4>
	{% endif %}

</div>

{% else %}
<h1>Lo sentimos, Debe iniciar sesión primero para poder continuar.</h1>
{% endif %}
</div>
</div>

{% endblock %}

